*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(57, 203, 222);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.nav{
    margin-top: 35px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    outline: none;
    background: lime;
    padding: 7px 15px;
    border-radius: 12px;
    text-transform: uppercase;
}
.nav a:hover{
    background: white;
    color: black;
}